@page
@model IndexModel
@{
    ViewData["Title"] = "Profiliniz";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />

<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Profil Bilgileri</h5>
                    <div class="form-floating mb-3">
                        <input asp-for="Username" class="form-control" disabled />
                        <label asp-for="Username" class="form-label">Kullanıcı Adınız</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.PhoneNumber" class="form-control" />
                        <label asp-for="Input.PhoneNumber" class="form-label">Telefon Numaranız</label>
                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                    </div>
                    <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Kaydet</button>
                </div>
            </div>
        </form>
    </div>
</div>

<style>
    .card {
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }

    .card-title {
        color: #333;
        font-size: 1.2rem;
        margin-bottom: 20px;
    }

    .form-floating input[type="text"],
    .form-floating input[type="tel"] {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .form-floating label {
        color: #666;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }
</style>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
