@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "MESKİ MESAJLAŞMA - Şifremi Unuttum";
    Layout = null;
}

<link rel="icon" href="~/image/indir.png" type="image/x-icon">
<link rel="shortcut icon" href="~/image/indir.png" type="image/x-icon">
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<section class="h-100 gradient-form">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="card-body p-md-5 mx-md-4">
                                <div class="text-center">
                                    <img src="~/image/indir.png" style="width: 185px;" alt="logo">
                                    <h4 class="mt-1 mb-5 pb-1">MESKİ İLETİŞİM</h4>
                                </div>
                                <form id="forgot-password" method="post">
                                    <h2>Şifrenizi Sıfırlayın</h2>
                                    <hr />
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-floating mb-4">
                                        <input type="text" asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="E-posta Adresiniz" />
                                        <label asp-for="Input.Email" class="form-label"></label>
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>
                                    <button type="submit" class="w-100 btn btn-lg btn-primary">Şifre Sıfırla</button>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                            <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                <h4 class="mb-4">MESKİ MESAJLAŞMA</h4>
                                <p class="small mb-0">
                                    Birimlerimiz arasındaki mesajlaşmalar bizim için çok önemlidir.
                                    Daha güvenilir mesajlaşma için tasarlanan sitemiz,
                                    personellerimize sunulmuştur.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


<style>
    .gradient-form {
        background: #fccb90;
        background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
        background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    }

    .gradient-custom-2 {
        background: #fccb90;
        background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
        background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    }

    .card {
        border-radius: 15px;
        box-shadow: 0 10px 30px 0 rgba(153, 186, 217, 0.4);
    }

    .card-body {
        padding: 3rem !important;
    }

    .form-floating {
        position: relative;
        margin-bottom: 1rem;
    }

        .form-floating input {
            height: 3.5rem;
        }

        .form-floating label {
            position: absolute;
            top: 0;
            padding: .5rem .75rem;
            font-size: 1rem;
            font-weight: 400;
            opacity: 0.65;
            transition: top 0.3s ease, opacity 0.3s ease, font-size 0.3s ease;
        }

        .form-floating input.form-control:focus ~ label, .form-floating input.form-control:not(:placeholder-shown) ~ label {
            top: -1rem;
            font-size: 0.8rem;
            opacity: 1;
        }

    .btn-primary {
        background-color: #4e73df;
        border-color: #4e73df;
    }

        .btn-primary:hover {
            background-color: #224abe;
            border-color: #224abe;
        }

    .text-danger {
        color: #dc3545 !important;
    }

    .text-black {
        color: #000000 !important;
    }

    .text-white {
        color: #ffffff !important;
    }

</style>