@model AltBirimler
<br />
<br />

<form asp-controller="AltBirim" asp-action="Create">
    <div class="mb-3">
        <label asp-for="BirimId" class="form-label">Alt Birimin Ekleneceği Ana Birim</label>
        <select asp-for="BirimId" asp-items="ViewBag.Birimler">
            <option value="">Seçiniz</option>
        </select>
    </div>
    <div class="mb-3">
        <label asp-for="AltBirimAdı" class="form-label">Alt Birim İsmi</label>
        <input asp-for="AltBirimAdı" class="form-control">
    </div>
    <button type="submit" class="btn btn-secondary">Kaydet</button>
</form>